body {
  box-sizing: border-box;
}

header , section {
  text-align: center;
}

h1 {
  background: rgb(245, 234, 234);
  background: linear-gradient(
    173deg,
    rgba(245, 234, 234, 1) 0%,
    rgba(36, 111, 219, 0.6421919109440651) 100%
  );
  color: blue;
  border: 2px solid;
  display: inline-block;
}

 h2 {
  animation:movement;
  animation-duration:2s;
  
  
}

h3{
  font-size:2em;
  
}

#grid-flex {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgb(245, 234, 234);
  background: linear-gradient(
    173deg,
    rgba(245, 234, 234, 1) 0%,
    rgba(36, 111, 219, 0.6421919109440651) 100%
  );
  text-align: center;
  animation:shake;
  animation-duration: 2s;
  
}

img {
 width:100%;
  height:auto;
}



.grid-item {
  border:2px solid red;
  list-style-type: none;
  text-align: center;
  margin: 2% 2%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(142, 84, 191, 1) 42%
  );
}

.grid-item:first-child {
  flex-basis: 100%;
}

.grid-item:nth-child(n+2) {
  flex-basis:45%;
  
  
}


@media (min-width: 600px) {
  
  
  .grid-item:nth-child(-n+2) {
      flex-basis:45%;
  }


}



@media (min-width: 600px) {


  .grid-flex {
      justify-content: space-between;
  }
  
  
  .grid-item:nth-child(n+3) {
      flex-basis:28%;
  }


}



@media (min-width:1000px) {

  .grid-flex{
      justify-content:space-between;
  }

  .grid-item:first-child {
      
      flex-basis:45%
   
  }

  .grid-item:nth-child(n+2) {
     
      flex-basis:20%
  }

  
}


@media (min-width: 600px) {
  
  
  .grid-item:nth-child(-n+2) {
      flex-basis:45%;
  }


}



@media (min-width: 600px) {


  .grid-flex {
      justify-content: space-between;
  }
  
  
  .grid-item:nth-child(n+3) {
      flex-basis:28%;
  }


}



@media (min-width:1000px) {

  .grid-flex{
      justify-content:space-between;
  }

  .grid-item:first-child {
      
      flex-basis:45%
   
  }

  .grid-item:nth-child(n+2) {
     
      flex-basis:20%
  }

  
}



@keyframes shake {
  0% {
    position: absolute;
    left: 0px;
  }
  50% {
    position: absolute;
    left: 25vw;
  }

  75% {
    position: absolute;
    left: 50vw;
  }

  100% {
    position: absolute;
    left: 0px;
  }
}

@keyframes movement {
  0% {
    left: 0px;
    position: relative;
  }
  50% {
    position: relative;
    left: 50vw;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
