h1 {
  background: rgb(245, 234, 234);
  background: linear-gradient(
    173deg,
    rgba(245, 234, 234, 1) 0%,
    rgba(36, 111, 219, 0.6421919109440651) 100%
  );
  color: blue;
  border: 2px solid;
  display: inline-block;
  animation-name: movement;
  animation-duration: 1.5s;
}

section {
  background: rgb(245, 234, 234);
  background: linear-gradient(
    173deg,
    rgba(245, 234, 234, 1) 0%,
    rgba(36, 111, 219, 0.6421919109440651) 100%
  );
  text-align: center;
  animation-name: shake;
  animation-duration: 2s;
}

img {
  max-width: 50%;
  max-height: 40%;
}

li {
  list-style-type: none;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(142, 84, 191, 1) 42%
  );
}

h3 {
  font-style: italic;
}

@media (max-width: 450px) {
  /* Settings for Mobile Viewports */

  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  li:nth-child(n + 2) {
    margin-top: 5vh;
    width: 30vw;
    height: 50%;
    position: relative;
  }

  .grid-item {
    border: 2px solid blue;
    background-color: white;
  }
}

@media (min-width: 451px) {
  /* Settings for Tablet Viewports */

  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  li:nth-child(n + 1) {
    margin-top: 5vh;
    width: 40vw;
    position: relative;
  }

  li:nth-child(n + 3) {
    margin-top: 5vh;
    width: 25vw;
    position: relative;
  }

  .grid-item {
    border: 2px solid blue;
    background-color: white;
  }
}

@media (min-width: 1000px) {
  /* Settings for Larger Viewports */

  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
  }

  li:nth-child(n-2) {
    margin-top: 5vh;
    width: 40vw;
    height: 40vh;
    position: relative;
  }

  li:nth-child(n + 2) {
    margin-top: 5vh;
    width: 20vw;
    position: relative;
  }

  .grid-item {
    border: 2px solid blue;
    background-color: white;
  }
}

@keyframes shake {
  0% {
    position: absolute;
    left: 0px;
  }
  50% {
    position: absolute;
    left: 25vw;
  }

  75% {
    position: absolute;
    left: 50vw;
  }

  100% {
    position: absolute;
    left: 0px;
  }
}

@keyframes movement {
  0% {
    left: 0px;
    position: relative;
  }
  50% {
    position: relative;
    left: 50vw;
  }
  100% {
    position: relative;
    left: 0px;
  }
}
